@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    background-color: #fff;
    width: 5px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
    background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 1px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
    display:none;
}


.thumb::-webkit-scrollbar {
    background-color: #fff;
    height: 5px;
    width: 5px;
    border-radius: 16px;
}

/* background of the scrollbar except button or resizer */
.thumb::-webkit-scrollbar-track {
    background-color: #fff;
}

/* scrollbar itself */
.thumb::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 1px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
.thumb::-webkit-scrollbar-button {
    display:none;
}

